@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar for better UX in overflow areas */
.custom-scrollbar::-webkit-scrollbar {
  width: 8px; /* For vertical scrollbar */
  height: 8px; /* For horizontal scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1; /* Light grey track */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* Grey thumb */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* Darker grey on hover */
}
